In [205]:
import pandas as pd
data = pd.read_csv("Custom_location_53_345035_-6_267261_62b5c8e6c91d98000ba01ceb.csv", index_col=0)

In [206]:
# drop sea_level, city_name, grnd_level, wind_gust, rain_1h, rain_3h, snow_1h, snow_3h
data.drop(columns=["city_name", "sea_level", "grnd_level", "wind_gust", "rain_1h", "rain_3h", "snow_1h", "snow_3h"], inplace=True)

In [207]:
# transfer weather_main
weather_main_unique = list(data["weather_main"].unique())
weather_main_map = dict()
for i in range(len(weather_main_unique)):
    weather_main_map[weather_main_unique[i]] = i
print(weather_main_map)
keys = []
vals = []
for key, val in weather_main_map.items():
    keys.append(key)
    vals.append(val)
data["weather_main"] = data["weather_main"].replace(keys, vals)

{'Rain': 0, 'Clouds': 1, 'Mist': 2, 'Drizzle': 3, 'Snow': 4, 'Clear': 5, 'Fog': 6, 'Thunderstorm': 7, 'Smoke': 8, 'Haze': 9}

In [208]:
# transfer weather_description

weather_description_unique = list(data["weather_description"].unique())
weather_description_map = dict()
for i in range(len(weather_description_unique)):
    weather_description_map[weather_description_unique[i]] = i
print(weather_description_map)
keys = []
vals = []
for key, val in weather_description_map.items():
    keys.append(key)
    vals.append(val)
data["weather_description"] = data["weather_description"].replace(keys, vals)

{'moderate rain': 0, 'light rain': 1, 'broken clouds': 2, 'scattered clouds': 3, 'few clouds': 4, 'light intensity shower rain': 5, 'mist': 6, 'light intensity drizzle': 7, 'overcast clouds': 8, 'light intensity drizzle rain': 9, 'light shower snow': 10, 'sky is clear': 11, 'fog': 12, 'light shower sleet': 13, 'heavy intensity rain': 14, 'shower rain': 15, 'thunderstorm': 16, 'thunderstorm with rain': 17, 'drizzle': 18, 'rain and drizzle': 19, 'proximity thunderstorm': 20, 'proximity shower rain': 21, 'sleet': 22, 'light snow': 23, 'snow': 24, 'shower snow': 25, 'smoke': 26, 'haze': 27, 'very heavy rain': 28}

In [209]:
# transfer weather_icon
weather_icon_unique = list(data["weather_icon"].unique())
weather_icon_map = dict()
for i in range(len(weather_icon_unique)):
    weather_icon_map[weather_icon_unique[i]] = i
print(weather_icon_map)
keys = []
vals = []
for key, val in weather_icon_map.items():
    keys.append(key)
    vals.append(val)
data["weather_icon"] = data["weather_icon"].replace(keys, vals)

{'10n': 0, '04n': 1, '03n': 2, '02n': 3, '02d': 4, '03d': 5, '04d': 6, '09n': 7, '50d': 8, '09d': 9, '10d': 10, '13n': 11, '01n': 12, '50n': 13, '01d': 14, '13d': 15, '11d': 16}

In [210]:
data["dt_iso"] = data["dt_iso"].str[5:7]
data["dt_iso"].astype(dtype="int64")
data.rename(columns={"dt_iso": "month"})

,month,timezone,lat,lon,temp,visibility,dew_point,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id,weather_main,weather_description,weather_icon
dt,,,,,,,,,,,,,,,,,,,
1483228800,01,0,53.345035,-6.267261,5.39,9999.0,4.35,1.78,5.36,6.56,1019,93,5.10,330,75,501,0,0,0
1483232400,01,0,53.345035,-6.267261,5.39,9999.0,4.35,2.28,5.36,5.56,1019,93,4.10,310,75,501,0,0,0
1483236000,01,0,53.345035,-6.267261,5.39,9999.0,4.35,2.28,5.36,5.56,1019,93,4.10,320,75,500,0,1,0
1483239600,01,0,53.345035,-6.267261,4.39,9999.0,3.36,0.04,4.36,5.56,1019,93,6.20,330,75,500,0,1,0
1483243200,01,0,53.345035,-6.267261,4.39,9999.0,2.42,0.04,4.36,4.56,1019,87,6.20,330,75,803,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1577818800,12,0,53.345035,-6.267261,9.33,9999.0,6.42,9.33,8.87,9.56,1030,82,0.45,96,75,803,1,2,1
1577822400,12,0,53.345035,-6.267261,8.81,9999.0,6.09,7.02,8.10,9.56,1030,83,3.10,130,90,804,1,8,1
1577826000,12,0,53.345035,-6.267261,7.86,9999.0,5.33,7.86,6.53,8.51,1030,84,0.45,136,90,804,1,8,1
1577829600,12,0,53.345035,-6.267261,7.49,9999.0,4.09,7.49,5.53,8.51,1029,79,0.45,176,75,803,1,2,1
1577833200,12,0,53.345035,-6.267261,7.21,9999.0,4.52,5.85,4.53,8.41,1029,83,2.10,210,75,803,1,2,1

In [211]:
data.to_csv("cleaned.csv")